nav {
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header {
	z-index: 5;
	position: fixed;
	padding: 24px;
	width: 100vw;
	background-color: var(--white);
}

@media (min-width: 768px) {
	header {
		padding: 24px 40px;
	}
}
